/* Torg basic targeting Styles */

.tbt-crosshair {
    margin-left: 4px;
    font-size: 80%;
}

.tbt-crosshair:hover {
    cursor: pointer;
    box-shadow: 0 0 8px red;
}

.tbt-fail {
    color: red;
}

.tbt-success {
    color: black;
}

.tbt-great {
    color: blue;
}

.tbt-best {
    color: green;
}
